<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="rdwConfigurations">
      <section name="connection"
               type="Minor.Case2.ISRDW.Implementation.RDWConfigSection,
                     Minor.Case2.ISRDW.Implementation" />
    </sectionGroup>
  </configSections>

  <rdwConfigurations>
    <connection>
      <rdw address="http://rdwserver:18423/rdw/APKKeuringsverzoek"></rdw>
    </connection>
  </rdwConfigurations>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Minor.Case2.ISRDW.Implementation.ISRDWServiceHandler">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49775/RDWService" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Minor.Case2.ISRDW.Contract.IISRDWService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
