<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceBus">
      <section name="serviceLocators" type="Minor.ServiceBus.Agent.Implementation.ServiceLocatorConfigSection,                      Minor.ServiceBus.Agent.Implementation" />
    </sectionGroup>
    <sectionGroup name="Keuringsinstantie">
      <section name="Instantie" type="Minor.Case2.FEGMS.Agent.KeuringsinstantieConfigSection, Minor.Case2.FEGMS.Agent" />
    </sectionGroup>
  </configSections>

  <serviceBus>
    <serviceLocators active="webServiceLocator" profile="Development">
      <fileServiceLocator filePath="../../LocationData.xml" />
      <webServiceLocator address="http://localhost:37428/PfSLocatorService.svc" binding="basicHttpBinding" />
    </serviceLocators>
  </serviceBus>

  <Keuringsinstantie>
    <Instantie type="garage" kvk="1414 2135" naam="Caespi" plaats="Utrecht" />
  </Keuringsinstantie>

  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>