@model Minor.Case2.FEGMS.Client.ViewModel.OnderhoudsopdrachtVM

@{
    ViewBag.Title = "Klaargemeld";
}

<h2>Klaargemeld</h2>

@if (!string.IsNullOrEmpty(Model?.Message))
{
    <h2 style="text-align:center;">@Model.Message</h2>
}


@if (Model.Steekproef)
{
<h1 style="color: red; text-align:center;">Er is een steekproef voor deze auto!</h1>
}
else
{
<h1 style="color: green; text-align:center;">Er is geen steekproef voor deze auto!</h1>
}


    @*<div>
        <hr />
        <h4>Gegevens van de auto</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kenteken)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kenteken)
            </dd>

        </dl>
    </div>*@
