<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="rdwConfigurations">
      <section name="connection"
               type="Minor.Case2.ISRDW.Implementation.RDWConfigSection,
                     Minor.Case2.ISRDW.Implementation" />
    </sectionGroup>
  </configSections>

  <rdwConfigurations>
    <connection>
      <rdw address="http://rdwserver:18423/rdw/APKKeuringsverzoek"></rdw>
    </connection>
  </rdwConfigurations>
  
</configuration>