body {
}
#nav-bar {
    background-color: white; 
    border-bottom: #588239 10px solid;
    color: black;
}

#nav-bar a {
    color: black;
}

#nav-bar a:hover {
    color: #588239;
}

.logo {
    width: 100px; 
    position: relative; 
    top: 5px;
}

#homepage-container {
    text-align: center;
}

#logo-homepage {
    width: 40%;
    margin-top: 25px;
}

.new-leasemaatschappijen {
    display: none;
}